// .dropdown-content a:hover {background-color: #263238;
//   color: #ffffff;
// }

.sign-b{
  border-radius: 18px;
 margin-left:10px;
 color: #ffffff;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #ffffff;
  -moz-box-shadow: 0 0 10px #d11515;
  -webkit-box-shadow: 0 0 10px #d11515;
  box-shadow: 0 0 10px #d11515;
}

