.dropdown-content a:hover {
  background-color: #ffffff;
  -moz-box-shadow: 0 0 10px #d11515;
  -webkit-box-shadow: 0 0 10px #d11515;
  box-shadow: 0 0 10px #d11515;
}
.card1 {
   max-width: 400px;
}
.sign-b{
  border-radius: 200px;
}
