<div id="container1" >
    <div id="container2" class="view1">
<app-header (selectedNav)="navChange($event)"></app-header>
 <!--Main Layout-->


    <div class="container" style="margin-top: 200px">
      <div class="row">
        <div class="col-md-12">

            <app-recipes *ngIf="currentNav === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="currentNav === 'shopping-list'"></app-shopping-list>

        </div>
      </div>
    </div>



  </div>
  </div>
  <!--Main Layout-->
