.view1 {
  background: url("http://www.wallpapersshock.com/uploads/large/abstract-hd-wallpapers/parrot-abstract-hd-wallpapers.jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
