<div class="row">
  <div class="col-xs-12">
  <button class="btn grey darken-4 sign-b ">New Recipe</button>
  </div>
</div>
<hr>


<div class="row" style="border-width: 0px; border-color: whitesmoke">
   <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix card white " *ngFor="let recipe of recipesList" style="border-width: 0px; background: transparent">

          <div class="pull-left">

              <h4 class="list-group-item-header">{{ recipe.name }}</h4>
              <p class="list-group-item-text">
               {{ recipe.description }}
              </p>

          </div>
          <span class="pull-right">
              <img class="img-responsive" style="max-height: 50px; margin-left: 30px" [src]="recipe.imagePath" alt="{{ recipe.name }}">
          </span>
       </a>

      <app-recipe-item></app-recipe-item>
    </div>
</div>

