.example-card {
  max-width: 700px;

}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlJiR6IAguMRSCjkRlifIkfPFWAKyuulwECYpy-0HalpqmHMB6');
  background-size: cover;
}
